.navbar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: cornflowerblue;
}
.navbar .navbarLogo {
    height: 100px;
    width: 100px;
}
.navbar .navbarList {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}